<configuration>
    <shutdownHook class="ch.qos.logback.core.hook.DefaultShutdownHook"/>

    <!-- JUL/JDK14 to Logback bridge -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%white(%date{HH:mm:ss.SSS}) %highlight(%.-5level) %cyan(%-25logger{0}) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
